body{
  background-color: black;
}

.my-navbar-light{
  background-color:  rgba(255, 255, 255, 0.456) !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 0;
}

.my-navbar-light .navbar-brand{
  color: blue;
}

.my-navbar-light .navbar-brand:hover,
.my-navbar-light .navbar-brand:focus{
  color: blue;
}

.my-navbar-light .navbar-nav > .nav-item > .nav-link{
  font-size: 17px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 300;
  color: blue;
  opacity: 5 !important;
}

.my-navbar-light .navbar-nav > .nav-item > .nav-link:hover{
  color: orange;
}

.navbar-brand{
  font-weight: 1000;
  font-size: 30px;
}

.pic{
  background-image: url("../images/pizza.jpg");
  background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

#our-info{
  text-align: center;
  color: white;
  margin-top: 100px;
  margin-bottom: 50px;
}

.policy{
  font-style: italic;
}

#menu{
  margin-bottom: 50px;
  padding-left: 18px;
  padding-right: 20px;
}
#menu h3, h4{
  text-align: center;
  color: white;
}

.size{
  margin-bottom: 30px;
}

.crust-topping{
  padding-left: 10%;
  margin-bottom: 30px;
  padding-right: 10%;
}

.crust{
  background-image: url("../images/crust.jpg");
  background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.topping h4,
.crust h4{
  color: black;
}
.topping{
  background-image: url("../images/topping.jpg");
  background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
  height: 375px;
}
#order{
  margin-bottom: 30px;
}

#order h3{
  text-align: center;
  text-decoration: underline;
}

#ordered{
  background-color: white;
  margin-right: 20%;
  margin-left: 20%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

#ordered label,
#charges{
  font-weight: bolder;
}

#contacts{
  background-color: gray;
  text-align: center;
}

#contacts img{
  padding-left: 10px;
}

#charges{
  margin-bottom: 30px;
  margin-top: 5px;
  background-color: orange;
}

.btn1{
  margin-top: 7px;
}